.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.title {
    color: white;
    opacity: 0.9;
}

.txt1{
    font-size: 25px;
    margin: 8px 0;
    color: white;
}

.txt2{
    font-size: 15px;
    color: white;
}

.btn{
    background-color: black;
    margin-top: 5px;
}

.process{
    margin: 10px 0;
}

.img{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    animation-name: animations;
}

@keyframes animations{
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@media screen and (device-type: tablet) and (orientation: landscape) {
    .title {
        font-size: 100px;
    }

}

@media screen and (device-type: wearable) {
    .title {
        font-size: 15px;
        color: #FFFFFF;
    }
    .btn{
        width: 150px;
        height: 30px;
    }
}

@media screen and (device-type: tv) {
    .container {
        background-image: url("../../common/images/Wallpaper.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .title {
        font-size: 100px;
        color: #FFFFFF;
    }

}

@media screen and (device-type: phone) and (orientation: landscape) {
    .title {
        font-size: 60px;
    }
}
